## Transforming datasets

In [2]:
#dependencies
import pandas as pd
import os

In [2]:
#pull extracted table
players_per_game = pd.read_json('../Extract/Resources/player_per_game_stats.json')
players_per_game.head(10)

,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,FG%,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,Steven Adams,C,26.0,OKC,63.0,63.0,26.7,4.5,7.6,.592,...,.582,3.3,6.0,9.3,2.3,0.8,1.1,1.5,1.9,10.9
1,Bam Adebayo,PF,22.0,MIA,72.0,72.0,33.6,6.1,11.0,.557,...,.691,2.4,7.8,10.2,5.1,1.1,1.3,2.8,2.5,15.9
2,LaMarcus Aldridge,C,34.0,SAS,53.0,53.0,33.1,7.4,15.0,.493,...,.827,1.9,5.5,7.4,2.4,0.7,1.6,1.4,2.4,18.9
3,Kyle Alexander,C,23.0,MIA,2.0,0.0,6.5,0.5,1.0,.500,...,,1.0,0.5,1.5,0.0,0.0,0.0,0.5,0.5,1.0
4,Nickeil Alexander-Walker,SG,21.0,NOP,47.0,1.0,12.6,2.1,5.7,.368,...,.676,0.2,1.6,1.8,1.9,0.4,0.2,1.1,1.2,5.7
5,Grayson Allen,SG,24.0,MEM,38.0,0.0,18.9,3.1,6.6,.466,...,.867,0.2,2.0,2.2,1.4,0.3,0.1,0.9,1.4,8.7
6,Jarrett Allen,C,21.0,BRK,70.0,64.0,26.5,4.3,6.6,.649,...,.633,3.1,6.5,9.6,1.6,0.6,1.3,1.1,2.3,11.1
7,Kadeem Allen,PG,27.0,NYK,10.0,0.0,11.7,1.9,4.4,.432,...,.636,0.2,0.7,0.9,2.1,0.5,0.2,0.8,0.7,5.0
8,Al-Farouq Aminu,PF,29.0,ORL,18.0,2.0,21.1,1.4,4.8,.291,...,.655,1.3,3.5,4.8,1.2,1.0,0.4,0.9,1.5,4.3
9,Justin Anderson,SG,26.0,BRK,10.0,1.0,10.7,1.0,3.8,.263,...,.500,0.1,2.0,2.1,0.8,0.0,0.6,0.4,1.3,2.8

In [3]:
#get and check the column names and dtypes
players_per_game.dtypes

Player     object
Pos        object
Age       float64
Tm         object
G         float64
GS        float64
MP        float64
FG        float64
FGA       float64
FG%        object
3P        float64
3PA       float64
3P%        object
2P        float64
2PA       float64
2P%        object
eFG%       object
FT        float64
FTA       float64
FT%        object
ORB       float64
DRB       float64
TRB       float64
AST       float64
STL       float64
BLK       float64
TOV       float64
PF        float64
PTS       float64
dtype: object

In [4]:
#check to see if there are any rows with missing data
players_per_game.count()

Player    651
Pos       651
Age       651
Tm        651
G         651
GS        651
MP        651
FG        651
FGA       651
FG%       651
3P        651
3PA       651
3P%       651
2P        651
2PA       651
2P%       651
eFG%      651
FT        651
FTA       651
FT%       651
ORB       651
DRB       651
TRB       651
AST       651
STL       651
BLK       651
TOV       651
PF        651
PTS       651
dtype: int64

In [5]:
#get the team abbbreviations
count_tm = players_per_game['Tm'].value_counts()
count_tm

TOT    60
BRK    24
MIN    24
SAC    23
WAS    23
GSW    22
DET    22
MEM    21
DEN    21
HOU    21
MIA    21
ATL    21
CLE    21
LAC    20
UTA    20
LAL    20
ORL    19
DAL    19
POR    19
PHO    19
PHI    19
SAS    18
TOR    18
OKC    18
CHI    17
NYK    17
MIL    17
NOP    17
BOS    17
IND    17
CHO    16
Name: Tm, dtype: int64

In [6]:
# replace team abbreviations
players_per_game.replace(to_replace ="CHO", value ="CHA")

,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,FG%,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,Steven Adams,C,26.0,OKC,63.0,63.0,26.7,4.5,7.6,.592,...,.582,3.3,6.0,9.3,2.3,0.8,1.1,1.5,1.9,10.9
1,Bam Adebayo,PF,22.0,MIA,72.0,72.0,33.6,6.1,11.0,.557,...,.691,2.4,7.8,10.2,5.1,1.1,1.3,2.8,2.5,15.9
2,LaMarcus Aldridge,C,34.0,SAS,53.0,53.0,33.1,7.4,15.0,.493,...,.827,1.9,5.5,7.4,2.4,0.7,1.6,1.4,2.4,18.9
3,Kyle Alexander,C,23.0,MIA,2.0,0.0,6.5,0.5,1.0,.500,...,,1.0,0.5,1.5,0.0,0.0,0.0,0.5,0.5,1.0
4,Nickeil Alexander-Walker,SG,21.0,NOP,47.0,1.0,12.6,2.1,5.7,.368,...,.676,0.2,1.6,1.8,1.9,0.4,0.2,1.1,1.2,5.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
672,Trae Young,PG,21.0,ATL,60.0,60.0,35.3,9.1,20.8,.437,...,.860,0.5,3.7,4.3,9.3,1.1,0.1,4.8,1.7,29.6
673,Cody Zeller,C,27.0,CHA,58.0,39.0,23.1,4.3,8.3,.524,...,.682,2.8,4.3,7.1,1.5,0.7,0.4,1.3,2.4,11.1
674,Tyler Zeller,C,30.0,SAS,2.0,0.0,2.0,0.5,2.0,.250,...,,1.5,0.5,2.0,0.0,0.0,0.0,0.0,0.0,1.0
675,Ante Å½iÅ¾iÄ‡,C,23.0,CLE,22.0,0.0,10.0,1.9,3.3,.569,...,.737,0.8,2.2,3.0,0.3,0.3,0.2,0.5,1.2,4.4
676,Ivica Zubac,C,22.0,LAC,72.0,70.0,18.4,3.3,5.3,.613,...,.747,2.7,4.8,7.5,1.1,0.2,0.9,0.8,2.3,8.3

In [29]:
#pull csv data file
nba_season_data = pd.read_csv('../Extract/Resources/NBA_Season_Data.csv')

#drop all rows with NaN value
nba_season_data_clean = nba_season_data.fillna(0)
nba_season_data_clean_final = nba_season_data[['Year','Tm', 'Player', 'Age', 'G', 'MP', 'PER']]


nba_season_data_clean_final.dtypes

Year        int64
Tm         object
Player     object
Age         int64
G           int64
MP          int64
PER       float64
dtype: object

In [31]:
nba_season_data_clean_final.count()

Year      17263
Tm        17263
Player    17263
Age       17263
G         17263
MP        17263
PER       17263
dtype: int64

In [32]:
nba_season_data_clean_final['Tm'].value_counts()

GSW    664
CLE    657
SAS    654
PHI    649
ATL    642
MIL    641
HOU    636
BOS    635
DEN    634
DET    621
NYK    621
PHO    618
CHI    617
POR    610
NJN    606
LAL    593
DAL    593
IND    591
UTA    559
LAC    546
SAC    507
MIA    469
SEA    466
ORL    446
MIN    436
TOR    383
WAS    327
WSB    315
MEM    257
CHH    243
CHA    183
NOH    161
OKC    140
KCK    118
VAN     98
SDC     95
BRK     67
NOP     55
NOK     34
CHO     30
NOJ     28
BUF     18
Name: Tm, dtype: int64

In [33]:
#transformation complete
nba_season_data_clean_final.head()

   Year   Tm              Player  Age  G  MP   PER
0  1999  NJN    Gheorghe Muresan   27  1   1 -90.6
1  2016  IND  Shayne Whittington   24  1   2 -64.6
2  1979  DET         Ron Behagen   28  1   1 -60.3
3  2001  CLE      Larry Robinson   33  1   1 -54.4
4  2006  DEN        Nene Hilario   23  1   3 -54.4

In [43]:
#reading csv file
nba_goat_data = pd.read_csv('../Extract/Resources/GOAT_playoffs_games.csv')

#spliting column 'MATCHUP' into 2 sepearte columns
nba_goat_data[['Team', 'Opponent']] = nba_season_data.MATCHUP.str.split(' ', 1, expand=True,)
nba_goat_data

,Unnamed: 0,name,Player_ID,MATCHUP,WL,FG3_PCT,FGM,FTM,MIN,REB,AST,PTS,BLK,STL,Team,Opponent
0,0,Bill Russel,78049,BOS @ LAL,W,NaN,2,2,48,21,6.0,6,NaN,NaN,BOS,@ LAL
1,1,Bill Russel,78049,BOS vs. LAL,W,NaN,3,3,48,19,2.0,9,NaN,NaN,BOS,vs. LAL
2,2,Bill Russel,78049,BOS @ LAL,L,NaN,3,1,48,13,5.0,7,NaN,NaN,BOS,@ LAL
3,3,Bill Russel,78049,BOS vs. LAL,W,NaN,2,2,48,29,2.0,6,NaN,NaN,BOS,vs. LAL
4,4,Bill Russel,78049,BOS vs. LAL,W,NaN,5,1,48,18,3.0,11,NaN,NaN,BOS,vs. LAL
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2369,119,Kawhi Leonard,202695,SAS vs. LAC,W,1.00,5,3,28,6,1.0,16,1.0,3.0,SAS,vs. LAC
2370,120,Kawhi Leonard,202695,SAS @ UTA,W,0.50,1,0,20,5,0.0,3,0.0,0.0,SAS,@ UTA
2371,121,Kawhi Leonard,202695,SAS @ UTA,W,0.00,1,0,15,3,0.0,2,0.0,0.0,SAS,@ UTA
2372,122,Kawhi Leonard,202695,SAS vs. UTA,W,0.75,6,2,25,3,1.0,17,0.0,2.0,SAS,vs. UTA
2373,123,Kawhi Leonard,202695,SAS vs. UTA,W,0.00,2,2,20,2,1.0,6,0.0,2.0,SAS,vs. UTA

In [44]:
#delete auto column
del nba_goat_data['Unnamed: 0']

In [ ]:
#changing NaN values to operatable int
nba_goat_data_clean = nba_goat_data.fillna(0)

In [46]:
nba_goat_data_clean.dtypes

name          object
Player_ID      int64
MATCHUP       object
WL            object
FG3_PCT      float64
FGM            int64
FTM            int64
MIN            int64
REB            int64
AST          float64
PTS            int64
BLK          float64
STL          float64
Team          object
Opponent      object
dtype: object

In [47]:
nba_goat_data_clean.value.count()

AttributeError: 'DataFrame' object has no attribute 'value'

In [ ]:

#Transformation complete
nba_goat_data_clean

In [4]:
Teams = pd.read_csv('../Extract/Resources/Team_Player.CSV')
Teams

                  Team_Name Team_Abbr
0            ATLANTA HAWKS        ATL
1          ST. LOUIS HAWKS        SLH
2          MILWAUKEE HAWKS        MIL
3    TRI-CITIES BLACKHAWKS        TCB
4           BOSTON CELTICS        BOS
..                      ...       ...
59  INDIANAPOLIS OLYMPIANS        IND
60     SHEBOYGAN RED SKINS        SRS
61       ST. LOUIS BOMBERS        SLB
62     WASHINGTON CAPITOLS        WAS
63          WATERLOO HAWKS        WAT

[64 rows x 2 columns]

In [9]:
Player_Info = pd.read_json('../Extract/Resources/active_players_info.json')
Player_Info = Player_Info.drop(columns=['level_0','index'])
Player_Info

,PLAYER,POS,HEIGHT,WEIGHT,BIRTH_DATE,NATIONALITY,EXPERIENCE,COLLEGE
0,DeAndre' Bembry,SG,6-5,210,773280000000,US,3,Saint Joseph's
1,Charlie Brown,SG,6-6,199,854841600000,US,R,Saint Joseph's
2,Vince Carter,PF,6-6,220,223084800000,US,21,UNC
3,John Collins,PF,6-9,235,874972800000,US,2,Wake Forest
4,Bruno Fernando,C,6-9,240,903139200000,AO,R,Maryland
...,...,...,...,...,...,...,...,...
525,Ish Smith,PG,6-0,175,584064000000,US,9,Wake Forest
526,Isaiah Thomas,PG,5-9,185,602812800000,US,8,Washington
527,Jarrod Uthoff,PF,6-9,221,737769600000,US,1,Iowa
528,Moritz Wagner,C,6-11,245,862012800000,DE,1,Michigan
529,Johnathan Williams,PF,6-9,228,801100800000,US,1,"Missouri, Gonzaga"