In [9]:
import pandas as pd
import os

In [15]:

data = pd.read_csv('../Extract/Resources/NBA_Season_Data.csv')

In [19]:
df_clean = data.dropna(axis=1, how='any')

In [20]:
df_clean

,Year,Tm,Player,Age,G,MP,PER,ORB%,DRB%,TRB%,AST%,STL%,BLK%,USG%
0,1999,NJN,Gheorghe Muresan,27,1,1,-90.6,0.0,0.0,0.0,0.0,0.0,0.0,88.3
1,2016,IND,Shayne Whittington,24,1,2,-64.6,0.0,0.0,0.0,0.0,0.0,0.0,44.4
2,1979,DET,Ron Behagen,28,1,1,-60.3,0.0,0.0,0.0,0.0,0.0,0.0,38.1
3,2001,CLE,Larry Robinson,33,1,1,-54.4,0.0,0.0,0.0,0.0,0.0,0.0,45.2
4,2006,DEN,Nene Hilario,23,1,3,-54.4,0.0,0.0,0.0,0.0,0.0,0.0,44.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17258,1991,PHO,Ian Lockhart,23,1,2,76.3,0.0,0.0,0.0,0.0,0.0,0.0,38.3
17259,2008,HOU,Gerald Green,22,1,4,76.3,57.3,0.0,28.2,0.0,0.0,0.0,34.3
17260,2009,OKC,Steven Hill,23,1,2,88.3,100.0,58.6,86.4,0.0,0.0,0.0,22.1
17261,2005,NYK,Jackie Butler,19,3,5,90.3,0.0,0.0,0.0,0.0,10.6,0.0,53.7
17262,2014,MIA,DeAndre Liggins,25,1,1,129.1,100.0,0.0,62.8,0.0,0.0,0.0,47.8

In [21]:
df_clean.to_csv(r'season_small.csv')